{% if is_granted('ROLE_USER') %}

<!DOCTYPE html>
<html>
{% block header %}
<head>
<title>Welcome to my site friend</title>
 <link rel="stylesheet" href="{{asset('css/app.css')}}">
 <script src="{{asset('js/jquery-3.1.1.min.js')}}"></script>
 <script src="{{asset('js/bootstrap.min.js')}}"></script>

</head>
{% endblock%}
{% block body %}
 <body>
 <h1><a href="{{ path('logout')}}">{{ 'main.navig.home' | trans }}</a><br></h1>
 {{ form_start(edit_form) }}
 {{ form_widget(edit_form) }}

 <button type="submit">Edit</button>
 {{ form_end(edit_form) }}

<br>
 {% for key in pagination %}
 <br>
  {{ key.translate('uk').getName }} .. {{ key.translate('en').getName }} .. {{ key.translate('bel').getName }}
 {% endfor %}
 <br>
 <!-- Карусель -->


 <div class="navigation">
  {{ knp_pagination_render(pagination) }}
 </div>

 </body>
{% endblock%}
{% block footer %}
{% endblock%}
</html>

{% else %}
 {{ render(controller('AppBundle:Default:login'))}}


{% endif %}
