{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ 'site.learning.title'|trans }}</h1>

    <div id="slider">
        <ul>

            {% for word in words %}
                <li class="slide">
                    <div class="slider-container">
                    <p>English: {{ word.translate('en').getName }}</p>
                    <p>Ukrainian: {{ word.translate('uk').getName }}</p>
                    <p>Russian: {{ word.translate('ru').getName }}</p>
                    <p>German: {{ word.translate('de').getName }}</p>
                    <p>Italian: {{ word.translate('it').getName }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/css.css') }}">
{% endblock stylesheets %}
